body {
	/*background-image: url("background.jpg");*/
	font-size: 20pt;
	font-family: Helvetica, Arial;
	text-align: center;
	padding:0; margin: 0;
}

#tint {
	width: 100%;
	height: 100%;
	background-color: rgba(20, 20, 20, .90);
	position: absolute;
	top: 0; left: 0;
}
#info {
	width: 470px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	padding: 20px 40px;
	/*background-color: #444;
	opacity: 0.8;*/
	color: #ffffff;
}

#usernameview {
	font-weight: bold;
	font-size: larger;
}

#errorAlert {
	color: red;
	font-size: 30pt;
}

/*
#goThroughButton {
	height: 25pt;
	font-size:18pt;
	font-weight: bold;
	border: 0px;
	padding: 0px;
}
*/

.utilityHightlight {
	color: cyan;
}

h1 {
	margin: 0;
	font-size: 50pt;
}

a {
	color: #ffffff;
}

#valueInput {
	width: 75px;
	font-size: 20pt;
	font-weight: bold;
}

input {
	font-size: 20pt;
	font-family: helvetia, arial;
	font-weight: bold;
	border: 0px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
}

#background_url {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	frameborder: 0px;
	scrolling: no;
	z-index: -100;
	/* -webkit-filter: blur(1px); */
	opacity: 0.50;
}

