body {
	/*background-image: url("background.jpg");*/
	font-size: 20pt;
	font-family: Helvetica, Arial;
	text-align: center;
	padding:0; margin: 0;
}

#tint {
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.90;
	position: absolute;
	top: 0; left: 0;
}
#info {
	width: 470px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 40px;
	/*background-color: #444;
	opacity: 0.8;*/
	color: #ffffff;
}

#prompt1 {
	margin: 0px;
}

#prompt2 {
	margin: 0px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#ask {
	margin-top: 0px;
	background-image: url('ask_offer_background_small.png');
	background-position-x: 11px;
	background-repeat: no-repeat;
	width: 512px;
	height: 204px;
}

#answer {
	vertical-align: top;
}

.title {
	font-weight: bold;
	font-size: 60px;
	font-family: gotham;
	/*position: absolute;
	left: 200px;
	top: 20px;*/
	border-bottom: 6px #666 solid;
	height: 68px;
}
.subtitle {
	font-family: garamond;
	/*font-style: italic;*/
	font-size: 20pt;
	color: #ddd;
	/*position: absolute;
	left: 200px;
	top: 115px;*/
}
img.lock { opacity: .2; }
#usernameview {
	font-weight: bold;
	font-size: larger;
}

#errorAlert {
	color: red;
	font-size: 30pt;
}

#ab_test_options, #ab_test_options> a {
	text-align: left;
	font-size: 12px;
	margin-top: 150px;
	color: #888;
}

.utilityHightlight {
	color: cyan;
}

h1 {
	margin: 0;
	font-size: 50pt;
}

a {
	color: #ffffff;
}

#valueInput {
	width: 75px;
	font-size: 20pt;
	font-weight: bold;
}

img.starburst {
	background-image: url('starburst.png');
	position: absolute;
}

#continueButton {
	height: 30px;
}

input {
	font-family: helvetia, arial;
	height: 35px;
	font-weight: bold;
	border: 0px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	vertical-align: text-bottom;
}

#uwseal {
	position: absolute;
	left: 10px;
	top: 10px;
	opacity: 0.30;
}

#shaded {
	padding: 0px;
	margin: 0px;
	z-index: 10;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	opacity: 0.80;
	z-index: -100;
}

/*
#info {
	text-align: center;
	padding-top: 50px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
*/

#skip_section {
    float: right;
    color: white;
    font-size: 8pt;
}

#skip_arrow {
    float: right;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

a { color: #fff; }

#lock_pic {
	margin-top: -20px;
	margin-bottom: -30px;
}

#remaining_time {
	font-size: 70pt;
	font-family: monaco, consolas, courier;
}

#reset_data {
	float: right;
}

#emegency_go_through a {
	color: cyan;
	font-size: 15pt;
}

#resetthis {
	font-size: 12px;
	color: #888;
}