@font-face {
    font-family: futura_light;
    src: url("FuturaStd-Light.otf");
}

@font-face {
    font-family: futura_book;
    src: url("FuturaStd-Book.otf");
}

@font-face {
    font-family: futura_bold;
    src: url("FuturaStd-Bold.otf");
}

@font-face {
    font-family: futura_light;
    src: url("FuturaStd-Light.otf");
}

body {
	/*background-image: url("background.jpg");*/
	font-size: 20pt;
	font-family: Helvetica, Arial;
	color: red;
	text-align: center;
	padding:0; margin: 0;
}

#tint {
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.90;
	position: absolute;
	top: 0; left: 0;
}

#gift_box {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 40px;
	/*background-color: #444;
	opacity: 0.8;*/
	color: #ffffff;
}

#prompt {
	margin: 0px;
	font-family: futura_light;
	font-size: 21pt;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#gift_box_bottom {
	margin-top: 0px;
	background-image: url('ask_offer_background_small.png');
	background-position-x: 100px;
	background-repeat: no-repeat;
	height: 204px;
}

#answer {
	vertical-align: text-top;
	font-family: futura_light;
	font-size: 21px;
}

.title {
	font-weight: bold;
	font-size: 60px;
	font-family: gotham;
	/*position: absolute;
	left: 200px;
	top: 20px;*/
	border-bottom: 6px #666 solid;
	height: 68px;
}
.subtitle {
	font-family: futura_light;
	/*font-style: italic;*/
	font-size: 21px;
	color: #ddd;
	/*position: absolute;
	left: 200px;
	top: 115px;*/
}
img.lock { opacity: .2; }
#usernameview {
	font-weight: bold;
	font-size: larger;
}

#errorAlert {
	color: red;
	font-size: 30pt;
}

#ab_test_options, #ab_test_options> a {
	text-align: left;
	font-size: 12px;
	margin-top: 150px;
	color: #888;
}

.utilityHightlight {
	color: cyan;
}

h1 {
	margin: 0;
	font-size: 50pt;
}

a {
	color: #ffffff;
}

#valueInput {
	width: 75px;
	height: 29px;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20pt;
	font-weight: bold;
}

img.starburst {
	background-image: url('starburst.png');
	position: absolute;
}

#continueButton {
	height: 30px;
}

input {
	font-family: helvetica, arial;
	height: 35px;
	font-weight: bold;
	border: 0px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	vertical-align: text-bottom;
}

#uwseal {
	position: absolute;
	left: 10px;
	top: 10px;
	opacity: 0.30;
}

#shaded {
	padding: 0px;
	margin: 0px;
	z-index: 10;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	opacity: 0.80;
	z-index: -100;
}


#info {
	text-align: center;
	padding-top: 50px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
}


.green_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:futura_light, helvetica, arial;
	font-size:14px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
}

.green_btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}

.green_btn:active {
	position:relative;
	top:1px;
}

#confirm_btn {
    margin-top: 10px;
}

#skip_section {
    font-family: futura_book;
    cursor: default;
    padding: 10px;
    clear: right;
    float: right;
    color: white;
    background-color: #848484;
    font-size: 12pt;
    position: absolute;
    right: 33px;
    top: 25px;
}

#skip_arrow {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    width: 35px;
    height: 24px;
}

a { color: #fff; }

#lock_pic {
}

#remaining_time {
	font-size: 35pt;
	font-family: futura_book, monaco, consolas, courier;
}

#reset_data {
	float: right;
}

#emegency_go_through a {
	color: cyan;
	font-size: 15pt;
}

#resetthis {
	font-size: 12px;
	color: #888;
}

#congratulation {
    font-family: futura_light;
    font-size: 21px;
}

#unblocked {
    font-family: futura_light;
    font-size: 21px;
}

#dollar_amount {
    font-family: futura_bold;
    margin: 0px;
    font-weight: bold;
    font-size: 50pt;
    color: rgb(65, 135, 75);
    position: absolute;
}

#dollar_sign {
    vertical-align: 8px;
}
