body {
	background-color: #3d3d3d;
	margin: 30px;
	font-family: helvetica, arial;
	color: #fff;
	font-size: 31px;
}

a { color: #fff; }
p { width: 600px; }

#lock_pic {
	margin-top: -20px;
	margin-bottom: -30px;
}

#remaining_time {
    font-size: 70pt;
	font-family: monaco, consolas, courier;
}

#reset_data {
    float: right;
}

#emegency_go_through a {
    color: cyan;
    font-size: 15pt;
}